In [1]:
from scipy import stats
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy.stats import gumbel_r
from scipy.stats import gumbel_l
import os
import os.path

In [2]:
out_path = r'\\COWI.net\projects\A245000\A248363\CRVA\Datasets\NEX-GDDP-CMIP6'
csv_path = os.path.join(out_path,'csv_file','pr_day_2021-2060','All_projects_moz_precipitation_2021-2060.csv')
precipitation_2021_2060 = pd.read_csv(csv_path,header=[0,1],index_col=[0,1,2,3,4])*86400 # units kg.m^(-2).s^(-1)
# convert precipitation data from kg.m^(-2).s^(-1) to mm/day :  1 kg/m2/s = 86400 mm/day
# source: https://www.researchgate.net/post/How-do-I-convert-ERA-Interim-precipitation-estimates-from-kg-m2-s-to-mm-day
list_time_2021_2060=pd.date_range('01-01-2021','31-12-2060', freq='D').strftime('%d-%m-%Y').values.tolist()

In [3]:
precipitation_2021_2060

                                                                 Longitude  \
                                                                    33.625
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125    5.057179
                                            02-01-2021 -16.125   17.624178
                                            03-01-2021 -16.125    7.632648
                                            04-01-2021 -16.125    4.736492
                                            05-01-2021 -16.125    4.981353
...                                                                    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125         NaN
                                            28-12-2060 -13.125         NaN
                                            29-12-2060 -13.125         NaN
                                            30-12-2060 -13.125         NaN
                                            31-12-2060 -13.125         NaN

                                                                               \
                                                                39.875 36.875
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125     NaN    NaN
                                            02-01-2021 -16.125     NaN    NaN
                                            03-01-2021 -16.125     NaN    NaN
                                            04-01-2021 -16.125     NaN    NaN
                                            05-01-2021 -16.125     NaN    NaN
...                                                                ...    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125     NaN    NaN
                                            28-12-2060 -13.125     NaN    NaN
                                            29-12-2060 -13.125     NaN    NaN
                                            30-12-2060 -13.125     NaN    NaN
                                            31-12-2060 -13.125     NaN    NaN


                                                                   40.375
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125        NaN
                                            02-01-2021 -16.125        NaN
                                            03-01-2021 -16.125        NaN
                                            04-01-2021 -16.125        NaN
                                            05-01-2021 -16.125        NaN
...                                                                   ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125   0.000000
                                            28-12-2060 -13.125   0.435942
                                            29-12-2060 -13.125   6.300328
                                            30-12-2060 -13.125   8.168522
                                            31-12-2060 -13.125   0.737792

[6136200 rows x 4 columns]

In [4]:
precipitation_2021_2060.columns

MultiIndex([('Longitude', '33.625'),
            ('Longitude', '39.875'),
            ('Longitude', '36.875'),
            ('Longitude', '40.375')],
           )

In [5]:
df_test=precipitation_2021_2060.droplevel(level=4)
df_test = df_test.loc[[precipitation_2021_2060.index.levels[0][0]],[df_test.columns[2]]]
df_test.columns = df_test.columns.droplevel(0)
df_test=df_test.rename(columns={'36.875':'Precipitation mm/day'})

In [6]:
df_test

                                                        Precipitation mm/day
Name project          Experiment Model      Date
Chimoio_2ML_Reservoir ssp245     ACCESS-CM2 01-01-2021              5.864585
                                            02-01-2021             14.548427
                                            03-01-2021             14.611184
                                            04-01-2021             16.038884
                                            05-01-2021             19.461020
...                                                                      ...
                      ssp370     TaiESM1    27-12-2060              0.167396
                                            28-12-2060              6.138710
                                            29-12-2060             14.712479
                                            30-12-2060             20.146751
                                            31-12-2060             10.920106

[876600 rows x 1 columns]

In [8]:
df_test1 = df_test.reset_index()
df_test1

,Name project,Experiment,Model,Date,Precipitation mm/day
0,Chimoio_2ML_Reservoir,ssp245,ACCESS-CM2,01-01-2021,5.864585
1,Chimoio_2ML_Reservoir,ssp245,ACCESS-CM2,02-01-2021,14.548427
2,Chimoio_2ML_Reservoir,ssp245,ACCESS-CM2,03-01-2021,14.611184
3,Chimoio_2ML_Reservoir,ssp245,ACCESS-CM2,04-01-2021,16.038884
4,Chimoio_2ML_Reservoir,ssp245,ACCESS-CM2,05-01-2021,19.461020
...,...,...,...,...,...
876595,Chimoio_2ML_Reservoir,ssp370,TaiESM1,27-12-2060,0.167396
876596,Chimoio_2ML_Reservoir,ssp370,TaiESM1,28-12-2060,6.138710
876597,Chimoio_2ML_Reservoir,ssp370,TaiESM1,29-12-2060,14.712479
876598,Chimoio_2ML_Reservoir,ssp370,TaiESM1,30-12-2060,20.146751
876599,Chimoio_2ML_Reservoir,ssp370,TaiESM1,31-12-2060,10.920106

In [ ]:
df_projet0_percentile=df_test.groupby(['Date']).describe(percentiles=[.1, .5, .9])

In [ ]:
df_projet0_percentile

In [ ]:
df_projet0_percentile.columns

In [ ]:
df_projet0_percentile[[('Precipitation mm/day', '10%')]].plot()

In [ ]:
# Exposure

In [ ]:
df_test.index.levels[0]

In [ ]:
# find non finite values

In [ ]:
non_finite_index=np.where(~np.isfinite(precipitation_2020_2060))[0].tolist()
non_finite_index

In [ ]:
len(non_finite_index)

In [ ]:
df_non_finite=precipitation_2020_2060.iloc[non_finite_index]
df_non_finite

In [ ]:
models_to_delete = []
for i in (np.arange(0,len(df_non_finite.index.tolist())-1)):
    if df_non_finite.index.tolist()[i][2] not in models_to_delete:
        models_to_delete.append(df_non_finite.index.tolist()[i][2])

In [ ]:
models_to_delete

In [ ]:
precipitation_2020_2060.shape

In [ ]:
precipitation_2020_2060_no_NaN = precipitation_2020_2060.drop(models_to_delete,level=2)

In [ ]:
precipitation_2020_2060_no_NaN.shape

In [ ]:
precipitation_2020_2060_no_NaN.index.levels[2].tolist()

In [ ]:
new_index_models=[]
for item in precipitation_2020_2060.index.levels[2].tolist():
    if item in models_to_delete:
        continue
    else:
        new_index_models.append(item)

In [ ]:
type(new_index_models)

In [ ]:
new_index_models

In [ ]:
time_2020_2060=pd.date_range('01-01-2030','31-12-2060', freq='D').strftime('%d-%m-%Y').values.tolist()
list_time_2020_2060= [item[6:10] for item in time_2020_2060]
list_time_2020_2060

In [ ]:
df = pd.DataFrame()
midx = pd.MultiIndex.from_product([[precipitation_2020_2060_no_NaN.index.levels[0].tolist()[0],],precipitation_2020_2060_no_NaN.index.levels[1].tolist(), new_index_models, list_time_2020_2060],names=['Name project','Experiment', 'Model', 'Year'])
cols = pd.MultiIndex.from_product([('Precipitation mm/day',)])
Variable_dataframe = pd.DataFrame(data = precipitation_2020_2060_no_NaN.values*86400, 
                            index = midx,
                            columns = cols)
df = pd.concat([df,Variable_dataframe])
#df['year']=df.reset_index()['Month and year'].apply(lambda k: int(k.split('-')[1]))

In [ ]:
DF=df.groupby(['Name project','Experiment', 'Model', 'Year']).max()

In [ ]:
DF

In [ ]:
DF_median=DF.groupby(['Name project','Experiment', 'Model']).median()

In [ ]:
DF_median

In [ ]:
DF_describe=DF.groupby(['Name project','Experiment', 'Model']).describe(percentiles=[.1, .5, .9]) #default percentiles are [.25, .5, .75]

In [ ]:
DF_describe

In [ ]:
# test return period

In [ ]:
Z=DF.loc[('PT_Revubue_2_Rev_2_01','ssp126','ACCESS-CM2'),'Precipitation mm/day'].values

In [ ]:
Z.reshape((31,)).sort()

In [ ]:
Z

In [ ]:
(loc,scale)=stats.gumbel_r.fit(Z) # renvoie les deux parametres necessaire pour etablir la fonction continue
loc

In [ ]:
scale

In [ ]:
x = 25 # precipitation data
gumbel_r.pdf(x,loc,scale)

In [ ]:
p = 0.995 # percentile of non-exceedance
return_period = 1/(1-p)
print('For a return period '+str(round(return_period))+' years')
print(round(gumbel_r.ppf(p,loc,scale))) # Percent point function
print('mm/day')

In [ ]:
p_non_exceedance = 0.99 # percentile of non-exceedance
p_exceedance = 1 - p_non_exceedance
return_period = 1/p_exceedance
threshold_coresponding = round(gumbel_r.ppf(p_non_exceedance,loc,scale)) # ppf: Percent point function
print('Threshold '+str(threshold_coresponding)+' mm/day will be exceeded at least once in 1 year, with a probability of '+str(round(p_exceedance*100))+ ' %')
print('A probability of '+str(round(p_exceedance*100))+' % correspond to a return period of '+str(round(return_period))+ ' years')

In [ ]:
n = 1 # number of year of the period over which the threshold 
# could be exceeded with a certain probability
p_non_exceedance = 0.99 # percentile of non-exceedance
p_exceedance = 1 - p_non_exceedance**n
return_period = 1/(1-p_non_exceedance)
threshold_coresponding = round(gumbel_r.ppf(p_non_exceedance,loc,scale)) 
# ppf: Percent point function
print('Threshold '+str(threshold_coresponding)+' mm/day will be exceeded at least once in '+str(n)+' year, with a probability of '+str(round(p_exceedance*100))+ ' %')
print('This threshold corresponds to a return period of '+str(round(return_period))+ ' year event over a '+str(n)+' year period')

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.plot(Z,gumbel_r.pdf(Z,loc,scale))

In [ ]:
fig, ax = plt.subplots(1, 1)
ax.plot(Z,gumbel_r.pdf((Z-loc)/scale) / scale)

In [ ]:
# xaxis is precipitation and yaxis is densiy of probability
myHist = plt.hist(Z,density=True) # If ``True``, draw and return a probability density: each bin 
# will display the bin's raw count divided by the total number of counts *and the bin width*
h = plt.plot(Z,gumbel_r.pdf(Z,loc,scale))
plt.xlabel('Precipitation value mm/day')
plt.ylabel('Density of probability' )
plt.title('Histogram and probability density function of annual maximum precipitation values\nbetween 2030 and 2060 for project PT_Revubue_2_Rev_2_01,\nscenario ssp126 and model ACCESS-CM2',fontdict={'fontsize': 10})
plt.legend(['Probability density function','Histogramm'])
title_png = 'test_density.png'
path_figure = os.path.join(out_path,'figures')
if not os.path.isdir(path_figure):
    os.makedirs(path_figure)
plt.savefig(os.path.join(path_figure,title_png),format ='png')
plt.show()

In [ ]:
DF.index.levels[1].tolist()

In [ ]:
DF.loc[('PT_Revubue_2_Rev_2_01','ssp245'),'Precipitation mm/day'].values.reshape(186,)

In [ ]:
#### BOXPLOTS


#df_reordered3 = df.reorder_levels(['Experiment', 'Model', 'Latitude', 'Date']) # reordering to ...
#df_reordered3_mean=df_reordered3.groupby(level=[0,1,2],axis=0,group_keys=True).mean()
#numpy_array = df_reordered3_mean.loc['ssp1_2_6'].values
#numpy_array=numpy_array.flatten() # make the array a vector to use it in boxplot function
#numpy_array4 = numpy_array[~np.isnan(numpy_array)]
# boxplot do not deal with NaN, have to take them out

dict_boxplot = plt.boxplot([DF.loc[('PT_Revubue_2_Rev_2_01','ssp126'),'Precipitation mm/day'].values.reshape(186,),DF.loc[('PT_Revubue_2_Rev_2_01','ssp245'),'Precipitation mm/day'].values.reshape(186,),DF.loc[('PT_Revubue_2_Rev_2_01','ssp370'),'Precipitation mm/day'].values.reshape(186,),DF.loc[('PT_Revubue_2_Rev_2_01','ssp585'),'Precipitation mm/day'].values.reshape(186,)],notch=True, whis =(10,90),widths = 0.15, patch_artist=True,labels=DF.index.levels[1].tolist())
# ... present boxplot over the period for each models
# this functions returns varius parameters of the boxplot in the dict_boxplot. This funcitons also returns an image of it
# here, numpy_array is a vector. But can also include array with several columns. Each columns will have a boxplot
# 'notch' is true to enhance part where the median is
# 'whis' is the percentile value for the whiskers, every data out of the range indicted by those 2 floats are represented as points
# 'widths' determine width of the boxes
# 'patch_artist' colors the boxplots
# 'labels' gives a name to every column included in the data part
str = 'Annual maximum precipitation mm/day\naccross different scenarios between 2030 and 2060'
title_png = 'Annual maximum precipitation mm.day accross different scenarios between 2030 and 2060.png'
plt.title(str)
plt.xlabel('Scenarios')
plt.ylabel('Annual maximum precipitation mm/day')
path_boxplot = os.path.join(path_figure,'Boxplots')
if not os.path.isdir(path_boxplot):
    os.makedirs(path_boxplot)
plt.savefig(os.path.join(path_boxplot,title_png),format ='png') # savefig or save text must be before plt.show. for savefig, format should be explicity written
plt.show()

In [ ]:
# need to find which law to apply when