This notebook contains the treatment of the data from the NOAA stations. Some of the data were absurd. So dataset needed to be treated

In [1]:
from Functions_ImportData import import_treat_obs_NOAA
from Functions_ImportData import treat_NOAA_data

import pandas as pd
import numpy as np
import os
import os.path

In [2]:
daily_sum_obs_from_NOAA = import_treat_obs_NOAA()

In [3]:
daily_sum_obs_from_NOAA=treat_NOAA_data(daily_sum_obs_from_NOAA) # add Year Month, and count Nan, select between 1970 and 2014

C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING']=0
C:\Users\CLMRX\OneDrive - COWI\Documents\GitHub\CRVA_tool\Functions_ImportData.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[name_col+' MISSING'][df[name_col].isna()]=1

In [4]:
# take out impossible observation data

## We can see for some maximum temperature observation data that some data points are completely impossible 
#  (100 for minimum or maximum temperature at Chimoio and Beira sometimes)
daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TMAX']<80]
daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TMIN']<80]
daily_sum_obs_from_NOAA=daily_sum_obs_from_NOAA[daily_sum_obs_from_NOAA['TAVG']<80]

In [5]:
daily_sum_obs_from_NOAA

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,...,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,Year,Month,Season,PRCP MISSING,TAVG MISSING,TMAX MISSING,TMIN MISSING
0,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-04-05,2.0,",,S",23.8,"H,,S",...,",D,S",20.0,",,S",1974,Apr,Dry,0,0,0,0
1,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-06-17,0.0,",,S",18.2,"H,,S",...,",,S",11.0,",,S",1974,Jun,Dry,0,0,0,0
6,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-07-13,0.0,",,S",17.8,"H,,S",...,",,S",14.0,",,S",1974,Jul,Dry,0,0,0,0
8,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1974-08-08,0.0,",,S",22.8,"H,,S",...,",,S",18.0,",,S",1974,Aug,Dry,0,0,0,0
9,MZM00067223,"MONTEPUEZ, MZ",-13.133,39.033,535.0,1975-06-23,NaN,NaN,22.3,"H,,S",...,",,S",16.0,",,S",1975,Jun,Dry,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159686,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-11-08,0.0,",,S",25.0,"H,,S",...,",,S",21.0,",,S",2014,Nov,Humid,0,0,0,0
159687,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-11-09,NaN,NaN,26.0,"H,,S",...,",,S",20.5,",,S",2014,Nov,Humid,1,0,0,0
159688,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-11-10,NaN,NaN,27.2,"H,,S",...,",,S",19.9,",,S",2014,Nov,Humid,1,0,0,0
159690,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-11-12,NaN,NaN,26.3,"H,,S",...,",,S",23.4,",,S",2014,Nov,Humid,1,0,0,0
159696,MZ000067297,"BEIRA, MZ",-19.800,34.900,16.0,2014-11-19,23.1,",,S",23.4,"H,,S",...,",,S",19.5,",,S",2014,Nov,Humid,0,0,0,0

In [6]:
out_path = r'C:\Users\CLMRX\COWI\A248363 - Climate analysis - Documents\General\CRVA_tool\Master_thesis\Project\3 - Implementation\1 - Data\1-BC\NOAA-ClimateDataOnline'

In [7]:
name_file = 'filtred_NOAA_obs_data.csv'

In [8]:
daily_sum_obs_from_NOAA.to_csv(os.path.join(out_path,name_file))