# Packages

In [1]:
import pandas as pd
import os
import os.path

# Upload files

In [2]:
out_path = r'\\COWI.net\projects\A245000\A248363\CRVA\Datasets\NEX-GDDP-CMIP6'
csv_path = os.path.join(out_path,'csv_file','pr_day2021-2022','PT_Revubue_2_Rev_2_01_2021-2022.csv')
precipitation_2021_2022 = pd.read_csv(csv_path)

In [3]:
precipitation_2021_2022

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Longitude
0,NaN,NaN,NaN,NaN,NaN,33.625000
1,Name project,Experiment,Model,Date,Latitude,NaN
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2040-01-01,-16.125,0.000000
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2040-01-02,-16.125,0.000000
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2040-01-03,-16.125,0.000000
...,...,...,...,...,...,...
4004,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2050-12-26,-16.125,0.000190
4005,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2050-12-27,-16.125,0.000179
4006,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2050-12-28,-16.125,0.000131
4007,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2050-12-29,-16.125,0.000124
4008,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,2050-12-30,-16.125,0.000104