In [2]:
from scipy import stats
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from scipy.stats import gumbel_r
from scipy.stats import gumbel_l
import os
import os.path
import math

In [3]:
out_path = r'\\COWI.net\projects\A245000\A248363\CRVA\Datasets\NEX-GDDP-CMIP6'
csv_path = os.path.join(out_path,'csv_file','pr_day_2021-2060','All_projects_moz_precipitation_2021-2060_without_month_year.csv')
precipitation_2021_2060 = pd.read_csv(csv_path,header=[0,1],index_col=[0,1,2,3,4])*86400 # units kg.m^(-2).s^(-1)
# convert precipitation data from kg.m^(-2).s^(-1) to mm/day :  1 kg/m2/s = 86400 mm/day
# source: https://www.researchgate.net/post/How-do-I-convert-ERA-Interim-precipitation-estimates-from-kg-m2-s-to-mm-day
list_time_2021_2060=pd.date_range('01-01-2021','31-12-2060', freq='D').strftime('%d-%m-%Y').values.tolist()

In [4]:
precipitation_2021_2060_copy = precipitation_2021_2060.copy(deep=True) # make a coåy that can be modified without changin the original

In [5]:
precipitation_2021_2060_copy

                                                                 Longitude  \
                                                                    33.625
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125    5.057179
                                            02-01-2021 -16.125   17.624178
                                            03-01-2021 -16.125    7.632648
                                            04-01-2021 -16.125    4.736492
                                            05-01-2021 -16.125    4.981353
...                                                                    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125         NaN
                                            28-12-2060 -13.125         NaN
                                            29-12-2060 -13.125         NaN
                                            30-12-2060 -13.125         NaN
                                            31-12-2060 -13.125         NaN

                                                                               \
                                                                39.875 36.875
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125     NaN    NaN
                                            02-01-2021 -16.125     NaN    NaN
                                            03-01-2021 -16.125     NaN    NaN
                                            04-01-2021 -16.125     NaN    NaN
                                            05-01-2021 -16.125     NaN    NaN
...                                                                ...    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125     NaN    NaN
                                            28-12-2060 -13.125     NaN    NaN
                                            29-12-2060 -13.125     NaN    NaN
                                            30-12-2060 -13.125     NaN    NaN
                                            31-12-2060 -13.125     NaN    NaN


                                                                   40.375
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125        NaN
                                            02-01-2021 -16.125        NaN
                                            03-01-2021 -16.125        NaN
                                            04-01-2021 -16.125        NaN
                                            05-01-2021 -16.125        NaN
...                                                                   ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125   0.000000
                                            28-12-2060 -13.125   0.435942
                                            29-12-2060 -13.125   6.300328
                                            30-12-2060 -13.125   8.168522
                                            31-12-2060 -13.125   0.737792

[6136200 rows x 4 columns]

In [6]:
# delete model 'NESM3' that does not have any value
precipitation_2021_2060_copy = precipitation_2021_2060.copy(deep=True)
precipitation_2021_2060_copy.drop('NESM3', level=2, axis=0, inplace=True)
precipitation_2021_2060_copy.loc[(precipitation_2021_2060_copy.index.levels[0][0],precipitation_2021_2060_copy.index.levels[1][0],'NESM3')]

C:\Users\CLMRX\AppData\Local\Temp\1\ipykernel_332896\1858925233.py:4: PerformanceWarning: indexing past lexsort depth may impact performance.
  precipitation_2021_2060_copy.loc[(precipitation_2021_2060_copy.index.levels[0][0],precipitation_2021_2060_copy.index.levels[1][0],'NESM3')]

KeyError: ('Chimoio_2ML_Reservoir', 'ssp126', 'NESM3')

In [7]:
# treatment of dataframe to make useable
df_years=precipitation_2021_2060_copy.copy(deep=True)
#df_year = df_year1.loc[('PT_Revubue_2_Rev_2_01')] # select one project
df_years.columns = df_years.columns.droplevel(0) # drop first level of column name
df_years['33.625'] = df_years['33.625'].fillna(0)
df_years['39.875'] = df_years['39.875'].fillna(0)
df_years['36.875'] = df_years['36.875'].fillna(0)
df_years['40.375'] = df_years['40.375'].fillna(0)
df_years['33.625'] = df_years['33.625'] + df_years['39.875'] + df_years['36.875'] + df_years['40.375']
df_years = df_years[['33.625']]
df_years=df_years.rename(columns={df_years.columns[0]:'Yearly average Precipitation mm/day period 2021-2060'})
df_years=df_years.droplevel(level=4) # drop latitude index
df_years=df_years.reset_index()

Year = df_years[['Date']].values.reshape(len(df_years[['Date']].values),)
for i in np.arange(0,len(df_years[['Date']].values)):
    Year[i]=str(Year[i][6:10])

df_years['Year'] = Year
df_years=df_years.drop(labels='Date',axis=1)

df_years_mean = df_years.groupby(['Name project','Experiment','Model','Year']).mean() # maximum

In [8]:
df_years_mean

                                                  Yearly average Precipitation mm/day period 2021-2060
Name project          Experiment Model      Year
Chimoio_2ML_Reservoir ssp126     ACCESS-CM2 2021                                           1.871808
                                            2022                                           3.417657
                                            2023                                           1.944983
                                            2024                                           4.035400
                                            2025                                           2.231611
...                                                                                             ...
WTP_gate_cnr1         ssp585     TaiESM1    2056                                           2.090851
                                            2057                                           2.594601
                                            2058                                           1.681398
                                            2059                                           1.624903
                                            2060                                           1.977343

[15680 rows x 1 columns]

In [9]:
df_years_mean.groupby(['Name project']).describe(percentiles=[.1, .5, .9])
# if describe() does not return al wanted statistics, it is maybe because the elements in it are not recognized as int
# add astype(int) as in following example; df.astype(int).groupby(['Name project']).describe(percentiles=[.1, .5, .9])

                           Yearly average Precipitation mm/day period 2021-2060  \
                                                                          count
Name project
Chimoio_2ML_Reservoir                                                  2240.0
Mugica_dam_road                                                        2240.0
PT1_Pemba__Breidge_Paquite                                             2240.0
PT_Nicoadala_F5                                                        2240.0
PT_Revubue_2_Rev_2_01                                                  2240.0
PT__Dumping_Site                                                       2240.0
WTP_gate_cnr1                                                          2240.0

                                                                         \
                                mean       std  min       10%       50%
Name project
Chimoio_2ML_Reservoir       2.608522  0.499648  0.0  1.988756  2.593438
Mugica_dam_road             2.681696  0.533976  0.0  2.021747  2.675904
PT1_Pemba__Breidge_Paquite  2.485946  0.505543  0.0  1.866514  2.468280
PT_Nicoadala_F5             3.478075  0.690702  0.0  2.583603  3.450952
PT_Revubue_2_Rev_2_01       1.841072  0.418202  0.0  1.327687  1.820872
PT__Dumping_Site            2.454407  0.497881  0.0  1.835329  2.435639
WTP_gate_cnr1               1.841072  0.418202  0.0  1.327687  1.820872


                                 90%       max
Name project
Chimoio_2ML_Reservoir       3.253199  4.366831
Mugica_dam_road             3.327860  5.070029
PT1_Pemba__Breidge_Paquite  3.116034  5.173231
PT_Nicoadala_F5             4.351644  6.224818
PT_Revubue_2_Rev_2_01       2.377472  3.330607
PT__Dumping_Site            3.074138  5.112056
WTP_gate_cnr1               2.377472  3.330607

### Seasonal average precipitation

In mozambique, dry season from April to september. Humid season from October to March

In [10]:
# deal with weird organisation
df_season = precipitation_2021_2060_copy.copy(deep=True)
df_season.columns = df_season.columns.droplevel(0) # drop first level of column name
df_season['33.625'] = df_season['33.625'].fillna(0)
df_season['39.875'] = df_season['39.875'].fillna(0)
df_season['36.875'] = df_season['36.875'].fillna(0)
df_season['40.375'] = df_season['40.375'].fillna(0)
df_season['33.625'] = df_season['33.625'] + df_season['39.875'] + df_season['36.875'] + df_season['40.375']
df_season = df_season[['33.625']]
df_season=df_season.rename(columns={df_season.columns[0]:'Yearly average precipitation mm/day period 2021-2060'})
df_season=df_season.droplevel(level=4) # drop latitude index
df_season=df_season.reset_index()

Month = df_season[['Date']].values.reshape(len(df_season[['Date']].values),)
Season = df_season[['Date']].values.reshape(len(df_season[['Date']].values),)
for i in np.arange(0,len(df_season[['Date']].values)):
    Month[i]=Month[i][3:5]
    if int(Month[i])>3 and int(Month[i])<10:
        Season[i]='Dry'
    else:
        Season[i]='Humid'
    

#df_season['Month'] = Month
df_season['Season'] = Season
df_season=df_season.drop(labels='Date',axis=1)
df_season

,Name project,Experiment,Model,Yearly average precipitation mm/day period 2021-2060,Season
0,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,5.057179,Humid
1,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,17.624178,Humid
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,7.632648,Humid
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,4.736492,Humid
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,4.981353,Humid
...,...,...,...,...,...
5727115,PT__Dumping_Site,ssp370,TaiESM1,0.000000,Humid
5727116,PT__Dumping_Site,ssp370,TaiESM1,0.435942,Humid
5727117,PT__Dumping_Site,ssp370,TaiESM1,6.300328,Humid
5727118,PT__Dumping_Site,ssp370,TaiESM1,8.168522,Humid
5727119,PT__Dumping_Site,ssp370,TaiESM1,0.737792,Humid

In [11]:
df_season_mean=df_season.groupby(['Name project','Experiment','Model','Season']).mean()
df_season_mean

                                                       Yearly average precipitation mm/day period 2021-2060
Name project          Experiment Model         Season
Chimoio_2ML_Reservoir ssp126     ACCESS-CM2    Dry                                              0.413419
                                               Humid                                            4.533095
                                 ACCESS-ESM1-5 Dry                                              0.430697
                                               Humid                                            4.680261
                                 BCC-CSM2-MR   Dry                                              0.484531
...                                                                                                  ...
WTP_gate_cnr1         ssp585     NorESM2-LM    Humid                                            3.243165
                                 NorESM2-MM    Dry                                              0.136071
                                               Humid                                            3.451902
                                 TaiESM1       Dry                                              0.137752
                                               Humid                                            3.777921

[784 rows x 1 columns]

In [12]:
df_season_mean.groupby(['Name project','Season']).describe(percentiles=[.1, .5, .9])

                                  Yearly average precipitation mm/day period 2021-2060  \
                                                                                 count
Name project               Season
Chimoio_2ML_Reservoir      Dry                                                  56.0
                           Humid                                                56.0
Mugica_dam_road            Dry                                                  56.0
                           Humid                                                56.0
PT1_Pemba__Breidge_Paquite Dry                                                  56.0
                           Humid                                                56.0
PT_Nicoadala_F5            Dry                                                  56.0
                           Humid                                                56.0
PT_Revubue_2_Rev_2_01      Dry                                                  56.0
                           Humid                                                56.0
PT__Dumping_Site           Dry                                                  56.0
                           Humid                                                56.0
WTP_gate_cnr1              Dry                                                  56.0
                           Humid                                                56.0

                                                                           \
                                       mean       std       min       10%
Name project               Season
Chimoio_2ML_Reservoir      Dry     0.419757  0.057333  0.275847  0.351776
                           Humid   4.806323  0.361307  4.273341  4.350414
Mugica_dam_road            Dry     0.837235  0.087553  0.686291  0.719789
                           Humid   4.533772  0.373319  3.855783  4.038533
PT1_Pemba__Breidge_Paquite Dry     0.985014  0.110376  0.795374  0.858441
                           Humid   3.993066  0.369103  3.300556  3.580331
PT_Nicoadala_F5            Dry     1.756384  0.174973  1.391110  1.546659
                           Humid   5.206872  0.427551  4.560193  4.711622
PT_Revubue_2_Rev_2_01      Dry     0.143174  0.022900  0.100904  0.115329
                           Humid   3.545971  0.232158  3.076721  3.266154
PT__Dumping_Site           Dry     0.915602  0.104117  0.725803  0.797528
                           Humid   3.999559  0.363288  3.277651  3.580167
WTP_gate_cnr1              Dry     0.143174  0.022900  0.100904  0.115329
                           Humid   3.545971  0.232158  3.076721  3.266154


                                        50%       90%       max
Name project               Season
Chimoio_2ML_Reservoir      Dry     0.425266  0.481414  0.570948
                           Humid   4.783771  5.079226  5.821354
Mugica_dam_road            Dry     0.826719  0.951647  1.011909
                           Humid   4.540715  5.007213  5.347942
PT1_Pemba__Breidge_Paquite Dry     0.960212  1.136701  1.239417
                           Humid   3.915536  4.567779  4.833688
PT_Nicoadala_F5            Dry     1.767007  1.986536  2.145580
                           Humid   5.158283  5.699678  6.509602
PT_Revubue_2_Rev_2_01      Dry     0.143748  0.173915  0.209592
                           Humid   3.538127  3.794390  4.143252
PT__Dumping_Site           Dry     0.898742  1.057901  1.151651
                           Humid   3.938347  4.543261  4.838857
WTP_gate_cnr1              Dry     0.143748  0.173915  0.209592
                           Humid   3.538127  3.794390  4.143252

# Distinguish 2 periods of time

In [22]:
df_season_2 = precipitation_2021_2060_copy.copy(deep=True)
df_season_2

                                                                 Longitude  \
                                                                    33.625
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125    5.057179
                                            02-01-2021 -16.125   17.624178
                                            03-01-2021 -16.125    7.632648
                                            04-01-2021 -16.125    4.736492
                                            05-01-2021 -16.125    4.981353
...                                                                    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125         NaN
                                            28-12-2060 -13.125         NaN
                                            29-12-2060 -13.125         NaN
                                            30-12-2060 -13.125         NaN
                                            31-12-2060 -13.125         NaN

                                                                               \
                                                                39.875 36.875
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125     NaN    NaN
                                            02-01-2021 -16.125     NaN    NaN
                                            03-01-2021 -16.125     NaN    NaN
                                            04-01-2021 -16.125     NaN    NaN
                                            05-01-2021 -16.125     NaN    NaN
...                                                                ...    ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125     NaN    NaN
                                            28-12-2060 -13.125     NaN    NaN
                                            29-12-2060 -13.125     NaN    NaN
                                            30-12-2060 -13.125     NaN    NaN
                                            31-12-2060 -13.125     NaN    NaN


                                                                   40.375
Name project          Experiment Model      Date       Latitude
PT_Revubue_2_Rev_2_01 ssp245     ACCESS-CM2 01-01-2021 -16.125        NaN
                                            02-01-2021 -16.125        NaN
                                            03-01-2021 -16.125        NaN
                                            04-01-2021 -16.125        NaN
                                            05-01-2021 -16.125        NaN
...                                                                   ...
PT__Dumping_Site      ssp370     TaiESM1    27-12-2060 -13.125   0.000000
                                            28-12-2060 -13.125   0.435942
                                            29-12-2060 -13.125   6.300328
                                            30-12-2060 -13.125   8.168522
                                            31-12-2060 -13.125   0.737792

[5727120 rows x 4 columns]

In [23]:
## PROBLEM
df_season_2.columns = df_season_2.columns.droplevel(0) # drop first level of column name
df_season_2['33.625'] = df_season_2['33.625'].fillna(0)
df_season_2['39.875'] = df_season_2['39.875'].fillna(0)
df_season_2['36.875'] = df_season_2['36.875'].fillna(0)
df_season_2['40.375'] = df_season_2['40.375'].fillna(0)
df_season_2['33.625'] = df_season_2['33.625'] + df_season_2['39.875'] + df_season_2['36.875'] + df_season_2['40.375']
df_season_2 = df_season_2[['33.625']]
df_season_2=df_season_2.rename(columns={df_season_2.columns[0]:'Yearly average precipitation mm/day period 2021-2060'})
df_season_2=df_season_2.droplevel(level=4) # drop latitude index
df_season_2=df_season_2.reset_index()

Year = df_season_2[['Date']].values.reshape(len(df_season_2[['Date']].values),)
for i in np.arange(0,len(df_season_2[['Date']].values)):
    Year[i]=int(Year[i][6:10])

#df_season_2['Year'] = Year
#df_season_2=df_season_2.drop(labels='Date',axis=1)

In [24]:
df_season_2

,Name project,Experiment,Model,Date,Yearly average precipitation mm/day period 2021-2060
0,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,01-01-2021,5.057179
1,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,02-01-2021,17.624178
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,03-01-2021,7.632648
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,04-01-2021,4.736492
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,05-01-2021,4.981353
...,...,...,...,...,...
5727115,PT__Dumping_Site,ssp370,TaiESM1,27-12-2060,0.000000
5727116,PT__Dumping_Site,ssp370,TaiESM1,28-12-2060,0.435942
5727117,PT__Dumping_Site,ssp370,TaiESM1,29-12-2060,6.300328
5727118,PT__Dumping_Site,ssp370,TaiESM1,30-12-2060,8.168522
5727119,PT__Dumping_Site,ssp370,TaiESM1,31-12-2060,0.737792

In [25]:
df_season_2['Year'] = Year
df_season_2

,Name project,Experiment,Model,Date,Yearly average precipitation mm/day period 2021-2060,Year
0,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,01-01-2021,5.057179,2021
1,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,02-01-2021,17.624178,2021
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,03-01-2021,7.632648,2021
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,04-01-2021,4.736492,2021
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,05-01-2021,4.981353,2021
...,...,...,...,...,...,...
5727115,PT__Dumping_Site,ssp370,TaiESM1,27-12-2060,0.000000,2060
5727116,PT__Dumping_Site,ssp370,TaiESM1,28-12-2060,0.435942,2060
5727117,PT__Dumping_Site,ssp370,TaiESM1,29-12-2060,6.300328,2060
5727118,PT__Dumping_Site,ssp370,TaiESM1,30-12-2060,8.168522,2060
5727119,PT__Dumping_Site,ssp370,TaiESM1,31-12-2060,0.737792,2060

In [26]:
filtered_df_season_2 = df_season_2[df_season_2['Date'].str.contains('2021','2022')]
filtered_df_season_2

,Name project,Experiment,Model,Date,Yearly average precipitation mm/day period 2021-2060,Year
0,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,01-01-2021,5.057179,2021
1,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,02-01-2021,17.624178,2021
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,03-01-2021,7.632648,2021
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,04-01-2021,4.736492,2021
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,05-01-2021,4.981353,2021
...,...,...,...,...,...,...
5712870,PT__Dumping_Site,ssp370,TaiESM1,27-12-2021,2.239485,2021
5712871,PT__Dumping_Site,ssp370,TaiESM1,28-12-2021,11.965019,2021
5712872,PT__Dumping_Site,ssp370,TaiESM1,29-12-2021,8.953759,2021
5712873,PT__Dumping_Site,ssp370,TaiESM1,30-12-2021,1.699712,2021
5712874,PT__Dumping_Site,ssp370,TaiESM1,31-12-2021,0.000000,2021

In [18]:
df_season_2.index

RangeIndex(start=0, stop=5727120, step=1)

In [27]:
df_season_2['Year'][0]

2021

In [28]:
df_season_2.loc[df_season_2['Year'].between(2021,2030)]

,Name project,Experiment,Model,Date,Yearly average precipitation mm/day period 2021-2060,Year
0,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,01-01-2021,5.057179,2021
1,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,02-01-2021,17.624178,2021
2,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,03-01-2021,7.632648,2021
3,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,04-01-2021,4.736492,2021
4,PT_Revubue_2_Rev_2_01,ssp245,ACCESS-CM2,05-01-2021,4.981353,2021
...,...,...,...,...,...,...
5716157,PT__Dumping_Site,ssp370,TaiESM1,27-12-2030,43.110946,2030
5716158,PT__Dumping_Site,ssp370,TaiESM1,28-12-2030,11.046457,2030
5716159,PT__Dumping_Site,ssp370,TaiESM1,29-12-2030,10.513719,2030
5716160,PT__Dumping_Site,ssp370,TaiESM1,30-12-2030,13.326145,2030
5716161,PT__Dumping_Site,ssp370,TaiESM1,31-12-2030,27.287603,2030